<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th>メンバー</th>
      <th colspan=2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag(group, :group_image, :fill ,50, 50, fallback:'no-image-icon.jpg') %></td>
      <td><%= group.name %></td>
      <td><%= group.introduction %></td>
      <td>
        <% group.users.each do |user| %>
          <%= user.name %><br>
        <% end %>
      </td>
      <% if group.owner_id == current_user.id %>
        <td><%= link_to 'edit', edit_group_path(group), class: 'btn btn-success' %></td>
        <td><%= link_to 'Notice an Event', group_new_mail_path(group), class: 'btn btn-info' %></td>
      <% else %>
        <td><%= render 'group_users/group_btn', group: group %></td>
      <% end %>
    </tr>
  </tbody>
</table>