<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th>メンバー</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag(group, :group_image, :fill ,50, 50, fallback:'no-image-icon.jpg') %></td>
      <td><%= group.name %></td>
      <td><%= group.introduction %></td>
      <td>
        <% group.users.each do |user| %>
          <%= user.name %><br>
        <% end %>
      </td>
      <td>
        <% if group.owner_id == current_user.id %>
          <%= link_to 'edit', edit_group_path(group), class: 'btn btn-success' %>
        <% else %>
          <%= render 'group_users/group_btn', group: group %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>