<table class="table table_width table-bordered">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @today_book.count %></td>
      <td><%= @yesterday_book.count %></td>
      <td><%= (@ratio_today).round %>％</td>
    </tr>
  </tbody>
</table>
<table class="table table_width table-bordered">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>先週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @tthisweek_book.count %></td>
      <td><%= @lastweek_book.count %></td>
      <td><%= (@ratio_week).round %>％</td>
    </tr>
  </tbody>
</table>